# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/web/node_modules
/aws/node_modules
/aws/lambdalayer/nodejs/node_modules
/.pnp
.pnp.js

# testing
/coverage

# deploy doesn't need to be checked in
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
aws/packaged.yaml
web/src/camp_images/*
aws/templatelocal.yaml
2019 data - all camps.json
